doctype html
// views/success.ejs
head
  title Google SignIn
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  // load bootstrap css
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  // load fontawesome
  style.
    body        { padding-top:70px; }
.container
  .jumbotron
    h1.text-primary.text-center
      span.fa.fa-user
      |  Profile Information
    .row
      .col-sm-6
        .well
          p
            strong Id
            | :
